@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  box-sizing: border-box;
}

:root{
    --background-color: white;
    --text-color:black;
    --elements-color:white;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark{
    --background-color: hsl(207, 26%, 17%);
    --text-color:white;
    --elements-color:hsl(209, 23%, 22%);
}
main{
    padding: 24px;
}

a{
    text-decoration: none;
    color: inherit;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 800;
}

.countries-container{
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-between;
}

.country-card{
    display: inline-block;
    width: 250px;
    height: 350px;
    border-radius: 4px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: transform 0.2s ease-in-out;
    background-color: var(--elements-color);
    text-align: center;
}

.country-card:hover{
    /* transform: translateX(2px) translateY(-3px); */
    transform: scale(1.02);
}

.country-card img{
    height: 150px;
    object-fit: contain;
}

.card-text{
    padding: 16px;
    text-align: left;
}

.card-text p{
    margin-block: 8px;
}

.card-title{
    font-size: 24px;
    margin-block: 16px;
}

.search-filter-container{
    margin-top: 16px;
    max-width: 1200px;
    margin-inline: auto;
    margin-bottom: 48px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.search-container{
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    border-radius: 4px;
    padding-left: 24px;
    overflow: hidden;
}

.search-container input{
    border: none;
    outline: none;
    padding: 16px;
    width: 90%;
    background-color: inherit;
    color: inherit;
}
.search-container i{
    color: #999;
}
.search-container input::placeholder {
    color: #999;
}

.filter-by-region{
    width: 200px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color:var(--elements-color);
    color: inherit;
}

.theme-changer{
    cursor: pointer;
}
@media (max-width:926px) {
    .countries-container{
        justify-content: center;
    }
}

@media (max-width:768px) {
    .title{
        font-size: 16px;
    }

    .header-content p{
        font-size: 12px;
    }
 
        .search-filter-container{
            flex-direction: column;
        }
}

